.arrow {
  background: url("./../../assets/img/down-arrow.png") 350px 20px/ 18px 18px no-repeat;
  &:hover {
    background: url("./../../assets/img/backgr.jpg") 320px 20px / 18px 18px no-repeat;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}