.content {
  position: absolute;
  text-align: center;
  top: 37%;
  left: 50%;
  opacity: 0;
  width: 60%;
  padding: 50px 50px 35px 50px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  animation: slide-up 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
  //   visibility: hidden;

}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 37%;
  }
  100% {
    visibility: visible;
    top: 27%;
  }
}

@media screen and (max-width: 700px) {
  .content {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .content {
    width: 75%;
    padding: 30px 30px 20px 30px;
  }
}

@media screen and (max-width: 470px) {
  .content {
    width: 70%;
    padding: 15px 15px 10px 15px;
  }
}


.current {
  opacity: 1;
  transform: translateX(0);
  z-index: 3;
}

.current .content {
  opacity: 1;
}


@media (hover: hover) and (pointer: fine) {
  .removeHover:hover {
    background-color: black;
    color: rgb(234, 88, 12);
  }
}

